body{
display: flex;
justify-content: center;
background-image: url(images/butterfly.jpg);
}

.box{
background-color: rgb(89, 23, 23);
width: 400px;
height: 400px;
padding: 20px;
justify-content: center;
display: flex;
align-items: center;
font-size: 50px;
font-family: Arial;
color: white;
border-radius: 10px;
transition-property: all;
transition-duration: 0.2s;
cursor: default;
margin-top: 10%;
}




.box:hover{
    background-color: rgb(129, 57, 57);
transform: translateY(-15px);
border-radius: 30px;
}
